<section>
     <h2>Current Forum / Article</h2>
    <div>
      <h3>{{homePosts.title_of_work}}</h3>
      <br />
      <h5>{{homePosts.user_name}}</h5>
      <h5>{{homePosts.date_created}}</h5>
      <p>
        {{homePosts.contents}}
      </p>
      <br />
      <h6>Genre: {{homePosts.genre_tag}}</h6>
      <h6>Tags: {{homePosts.tag}}</h6>
    </div>
</div>
</section>
<section>
     <h2>Recommendation Slideshow</h2>
  <div class="carousel">
    <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/250/250/nature/1"></a>
    <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/250/250/nature/2"></a>
    <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/250/250/nature/3"></a>
    <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/250/250/nature/4"></a>
    <a class="carousel-item" href="#five!"><img src="https://lorempixel.com/250/250/nature/5"></a>
  </div>
</section>
<aside>
    <h2>Topics / Hot Threads</h2>
   {{#each homePosts as |post|}}
    <div>
      <h3>{{post.title_of_work}}</h3>
      <br />
      <h5>{{post.user_name}}</h5>
      <h5>{{post.date_created}}</h5>
      <br />
      <h6>Genre: {{post.genre_tag}}</h6>
      <h6>Tags: {{post.tag}}</h6>
        <input name='basic' value='tag1, tag2 autofocus'>
    </div>
   {{/each}}
</div>
</aside>