<section>

  <div class="row mt-4">
  <div class="col-md-6">
    <h3>Make a Recommendation:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="category">I want to share a...</label><br>
        <input class="form-input" type="checkbox" id="book" name="category" value="book">
        <label for="book">Book</label><br>
        <input class="form-input" type="checkbox" id="show" name="category" value="show">
        <label for="book">Show</label><br>
        <input class="form-input" type="checkbox" id="movie" name="category" value="movie">
        <label for="book">Movie</label><br>
      </div>
      <div class="form-group">
        <label for="title">Post Title:</label>
        <input class="form-input" type="text" id="title" name="title"/>
      </div>
      <div class="form-group">
        <label for="contents">Tell Us About It...</label>
        <textarea class="form-input" type="text"  id="contents" name="contents"></textarea>
      </div>
       <div class="form-group">
        <label for="genre">Genre</label>
        <textarea class="form-input" type="text" id="genre" name="genre"></textarea>
      </div>
         <div class="form-group">
        <label for="genre">Additional Tags</label>
        <textarea class="form-input" type="text" id="tags" name="tags"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

</section>
<aside>
    <h2>Topics / Hot Threads</h2>
   {{#each homePosts as |post|}}
    <div>
      <h3>{{post.title_of_work}}</h3>
      <br />
      <h5>{{post.user_name}}</h5>
      <h5>{{post.date_created}}</h5>
      <br />
      <h6>Genre: {{post.genre_tag}}</h6>
      <h6>Tags: {{post.tag}}</h6>
    </div>
   {{/each}}

</div>
</aside>
<script src="new.js"></script>
<script src="index.js" ></script>


