<section>
     <h2>Current Forum / Article</h2>
    <div>
      <h3>{{post.title_of_work}}</h3>
      <br />
      <h5>{{post.user_name}}</h5>
      <h5>{{post.date_created}}</h5>
      <p>
        {{post.contents}}
      </p>
      <br />
      <h6>Genre: {{post.genre_tag}}</h6>
      <h6>Tags: {{post.tag}}</h6>
    </div>
</div>
</section>
<section>
     <h2>Recommendation Slideshow</h2>
</section>
<aside>
    <h2>Topics / Hot Threads</h2>
   {{#each posts as |post|}}
    <div>
      <h3>{{post.title_of_work}}</h3>
      <br />
      <h5>{{post.user_name}}</h5>
      <h5>{{post.date_created}}</h5>
      <br />
      <h6>Genre: {{post.genre_tag}}</h6>
      <h6>Tags: {{post.tag}}</h6>
    </div>
   {{/each}}
</div>
</aside>