
  <div class="row">


    <div class="aside col s4">
    <h3>User Posts</h3>
   {{#each homePosts as |post|}}
    <div class="post">
      <h4>{{post.title_of_work}}</h4> 
      <h5>{{post.category}}</h5>
      <h5>{{post.date_created}}</h5>
      <p>{{post.contents}}</p>
      <h6>Genre: {{post.genre_tag}}</h6>
      <h6>Tags: {{post.tag}}</h6>
      <br>
    </div>
   {{/each}}

  </div>


  <div class="main col s8">
    <h2>Make a Recommendation:</h2>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="category">I want to share a...</label><br>
        <label for="book">
          <input class="form-input" type="checkbox" id="book" name="category" value="book">
          <span>Book</span>
        </label><br>
        <label for="show">
            <input class="form-input" type="checkbox" id="show" name="category" value="show">
           <span>Show</span>
        </label><br>
        <label for="movie">
            <input class="form-input" type="checkbox" id="movie" name="category" value="movie">
             <span>Movie</span> 
          </label><br>
      </div>
      <div class="form-group">
        <label for="title">Post Title:</label>
        <input class="form-input" type="text" id="title" name="title"/>
      </div>
      <div class="form-group">
        <label for="contents">Tell Us About It...</label>
        <textarea class="form-input" type="text"  id="contents" name="contents"></textarea>
      </div>
       <div class="form-group">
        <label for="genre">Genre</label>
        <textarea class="form-input" type="text" id="genre" name="genre"></textarea>
      </div>
         <div class="form-group">
        <label for="genre">Additional Tags</label>
        <textarea class="form-input" type="text" id="tags" name="tags"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
</div>


<script src="new.js"></script>
<script src="index.js" ></script>


